-if @slide>0
  =link_to presentation_show_path(:slide=>@slide-1), data: {text: "<h1>dfnkejfve</h1>"}, remote: true do
    ='prev'
-if !@current_user.prepod?
  -if @slide<@presentation.last_open_slide
    =link_to presentation_show_path(:slide=>@slide+1) do
      ='next'
-else
  =link_to presentation_show_path(:slide=>@slide+1) do
    ='next'

=raw @section.source

=link_to 'root',root_path
