= form_for @document do |f|
  - if @document.errors.any?
    =error_messages_for(@document)

  .form-group
    =f.file_field :file
  .form-group
    =label_tag :way
    =f.select :way, Document::SS.map.with_index{|w,i| [w,i]},{}, class: 'form-control'
  .form-group
    =label_tag :comment
    =text_field_tag :comment, nil,class: 'form-control'
  -# .field
  -#   =label_tag :material_id
  -#   =number_field_tag :material_id,nil,class: 'form-control'
  .actions
    =button_tag 'Save', method: :create, class: 'btn btn-default'
