%nav.navbar.navbar-fixed-top.navbar-inverse{ role: 'navigation'}
  .container
    .navbar-header
      =button_tag type: 'button', class: 'navbar-toggle collapsed', data: {toggle: 'collapse', target: '#navbar-collapse'} do
        %span.sr-only Показать/скрыть меню
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'Смотровая', root_path, class:'navbar-brand'
    #navbar-collapse.navbar-collapse.collapse
      -if @current_user
        %ul.nav.navbar-nav
          -if !@current_user.student?
            %li=link_to 'Класс', rooms_path
            -if @current_user.admin?
              %li=link_to 'Пользователи', users_path
        %ul.nav.navbar-nav.navbar-right
          %li
            %p.navbar-text=@current_user.full_name
          %li=link_to 'Выход', logout_path
      -else
        %ul.nav.navbar-nav.navbar-right
          %li=link_to 'Вход', login_path
          %li=link_to 'Регистрация', new_user_path
