!!!
%html
  %head
    %meta{charset: 'utf8'}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %title App4Classes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
    %script{:src => "//code.jquery.com/ui/1.11.4/jquery-ui.js"}
  %body
    -if !params[:show]
      =render 'navbar'
      .container
        =render 'flash_messages'
    = yield
